{%- assign order = site.data.ideas.order -%}
<div class="cluster cluster--index">
{%- for id in order -%}
  {%- assign doc = site.ideas | where: "idea_id", id | first -%}
  {%- if doc -%}
    <section class="idea">
      <header class="idea__header"{% if include.selected_id == doc.idea_id %} tabindex="-1" data-selected="true"{% endif %}>
        {%- if include.selected_id == doc.idea_id -%}
          <h2 aria-label="{{ doc.idea_id }}. {{ doc.title }}">
            <span>{{ doc.idea_id }}.</span>
            <strong>{{ doc.title }}</strong>
          </h2>
        {%- else -%}
          <a href="{{ doc.url | relative_url }}" aria-label="{{ doc.idea_id }}. {{ doc.title }}">
            <dl>
              <dt>{{ doc.idea_id }}.</dt>
              <dd>{{ doc.title }}</dd>
            </dl>
          </a>
        {%- endif -%}
      </header>
      {%- if include.selected_id == doc.idea_id -%}
      <div class="idea__content">
        {{ doc.content | default: doc.excerpt | markdownify }}
      </div>
      {%- endif -%}
    </section>
  {%- endif -%}
{%- endfor -%}
</div>
