<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description | default: site.description }}">
<link rel="icon" href="/favicon.ico">
{% seo %}
<link rel="stylesheet" href="/assets/css/base.css">
<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="/assets/css/page.css">
{% if page.layout == "ideas_index" or page.layout == "idea" %}
<link rel="stylesheet" href="/assets/css/ideas.css">
{% endif %}
{% if page.layout == "projects_index" or page.layout == "project" %}
<link rel="stylesheet" href="/assets/css/projects.css">
{% endif %}
