{% assign sorted = site.ideas | sort: "num" %}
{% assign nextIdea = nil %}
{% for i in (0..sorted.size) %}
  {% assign item = sorted[i] %}
  {% if item.url == page.url %}
    {% assign nextIndex = i | plus: 1 %}
    {% if nextIndex < sorted.size %}
      {% assign nextIdea = sorted[nextIndex] %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}
{% if nextIdea %}
  <a class="next-idea" href="{{ nextIdea.url | relative_url }}" aria-label="Next idea: {{ nextIdea.title }}"></a>
{% endif %}
