---
layout: base
classes: controller controller--origin
---
<div class="cluster cluster--index">
  {% assign sorted = site.ideas | sort: "num" %}
  {% for idea in sorted %}
  <section class="signal">
    <header class="signal__header">
      <a aria-label="Idea {{ idea.num | plus: 0 | prepend: '0' | slice: -2 }}. {{ idea.title }}" href="{{ idea.url | relative_url }}">
        <dl>
          <dt>
            {% assign n = idea.num | plus: 0 %}{% if n < 10 %}0{% endif %}{{ n }}.
          </dt>
          <dd>
            {{ idea.title }}
          </dd>
        </dl>
      </a>
    </header>
  </section>
  {% endfor %}
</div>